<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N5 Hotel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/common.css">
    <style>
        .availability-form {
            margin-top: -50px;
            z-index: 2;
            position: relative;
        }

        @media screen and (max-width: 575px) {
            .availability-form {
                margin-top: 25px;
                padding: 0 35px;
            }
        }
    </style>
</head>

<body class="bg-light ">
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-lg-2 shadow-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand me-5 fw-bold fs-3 h-font" href="/">N5 Hotel</a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active me-2" aria-current="page" href="/homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" href="/rooms">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" href="/facilities">Facilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>


                </ul>
                <div class="d-flex" id="show-button">
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                        Login
                    </button>
                    <button type="button" class="btn btn-outline-dark shadow-none " data-bs-toggle="modal"
                        data-bs-target="#registerModal">
                        Register
                    </button>

                    <button type="button" class="btn btn-outline-dark shadow-none " data-bs-toggle="modal"
                        data-bs-target="#registerModal">
                        Register
                    </button> -->
                </div>
            </div>
        </div>
    </nav>

    <!-- Form login -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" id="login_form">
                    <div class="modal-header">
                        <h5 class="modal-title d-flex align-items-center">
                            <i class="bi bi-person-circle fs-3 me-2"></i> User Login
                        </h5>
                        <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input id="user_email" type="email" class="form-control shadow-none">
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <input id="user_password" type="password" class="form-control shadow-none">
                        </div>

                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <button type="submit" class="btn btn-dark shadow-none">LOGIN</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <!-- Form đăng kí -->
    <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="register-form">
                    <div class="modal-header">
                        <h5 class="modal-title d-flex align-items-center">
                            <i class="bi bi-person-lines-fill fs-3 me-2"></i> User Registration
                        </h5>
                        <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <span class="badge bg-light text-dark mb-3 text-wrap lh-base">
                            Note: Your details must match with your ID (Identification card, drive license, ...)
                            that will be required while check-in

                        </span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Name</label>
                                    <input name="name" type="text" class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Email</label>
                                    <input name="email" type="email" class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Phone number</label>
                                    <input name="phone" type="number" class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Picture</label>
                                    <input name="profile" type="file" accept=".jpg, .jpeg, .png, .webp"
                                        class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-12 p-0 mb-3">
                                    <label class="form-label">Address</label>
                                    <textarea name="address" class="form-control shadow-none" rows="1"
                                        required></textarea>
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Identification</label>
                                    <input name="identification" type="number" class="form-control shadow-none"
                                        required>
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Date of birth</label>
                                    <input name="dob" type="date" class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Password</label>
                                    <input name="pass" type="password" class="form-control shadow-none" required>
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Confirm password</label>
                                    <input name="cpass" type="password" class="form-control shadow-none" required>
                                </div>
                            </div>

                        </div>
                        <div class="text-center my-1">
                            <button type="submit" class="btn btn-dark shadow-none">REGISTER</button>
                        </div>
                        <!-- <div class="mb-3">
                           
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <input type="passwords" class="form-control shadow-none" >
                        </div>

                        <div class="d-flex align-items-center justify-content-between mb-2">
                           
                            <a href="javascript: void(0)" class="text-secondary text-decoration-none">Fogot pasword</a>
                        </div> -->
                    </div>

                </form>
            </div>
        </div>
    </div>




    <!-- content -->
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 mb-4 px-4">
                <h2 class="fw-bold" id="room-name">CONFIRM BOOKING</h2>
                <div style="font-size: 14px;">
                    <a href="#" class="text-secondary text-decoration-none">HOME</a>
                    <span class="text-secondary">></span>
                    <a href="/rooms" class="text-secondary text-decoration-none">ROOMS</a>
                    <span class="text-secondary">></span>
                    <a href="#" class="text-secondary text-decoration-none">CONFIRM</a>
                </div>

            </div>

            <div class="col-lg-7 col-md-12 px-4 bg-dark">
                <div class="card p-3 shadow-sm rounded" id="show-img-main">

                </div>
            </div>

            <div class="col-lg-5 col-md-12 px-4">
                <div class="card mb-4 border-0 shadow-sm rounded-3">
                    <div class="card-body">
                        <form method="POST" id="booking_form">
                            <h6 class="mb-3">BOOKING DETAILS</h6>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="" class="form-label">Name</label>
                                    <input name="name" id="user_name" type="text" class="form-control shadow-none"
                                        required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="" class="form-label">Phone number</label>
                                    <input name="phone" id="user_phone" type="text" class="form-control shadow-none"
                                        required>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="" class="form-label">Address</label>
                                    <input name="address" id="user_address" type="text" class="form-control shadow-none"
                                        required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="" class="form-label">Check-in</label>
                                    <input name="checkin" type="date" id="checkin" class="form-control shadow-none"
                                        required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="" class="form-label">Check-out</label>
                                    <input name="checkout" type="date" id="checkout" class="form-control shadow-none"
                                        required>
                                </div>
                                <input type="hidden" id="user_id_confirm">
                                <input type="hidden" id="room_id_confirm">
                                <div class="col-12">
                                    <button type="submit" name="pay" id="pay"
                                        class="btn w-100 text-white custom-bg shadow-none mb-1">BOOKING NOW</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid bg-white mt-5">
        <div class="row">
            <div class="col-lg-4 p-4">
                <h3 class="h-font fw-bold fs-3 mb-2">
                    N5 Hotel
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab alias beatae placeat vero quam
                    animi ipsam. Repellat delectus pariatur vitae magnam? Quisquam, consequuntur est aperiam dicta
                    quaerat porro ipsum?
                </p>
            </div>

            <div class="col-lg-4 p-4">
                <h5 class="mb-3">
                    Links
                </h5>
                <a href="/homepage" class="d-inline-block mb-2 text-dark text-decoration-none">Home</a><br>
                <a href="/rooms" class="d-inline-block mb-2 text-dark text-decoration-none">Rooms</a><br>
                <a href="/facilities" class="d-inline-block mb-2 text-dark text-decoration-none">Facilities</a><br>
                <a href="/contact" class="d-inline-block mb-2 text-dark text-decoration-none">Contact us</a><br>
                <a href="/about" class="d-inline-block mb-2 text-dark text-decoration-none">About</a><br>

            </div>

            <div class="col-lg-4 p-4">
                <h5 class="mb-3">Follow us</h5>
                <a href="https://twitter.com" class="d-inline-block mb-3">
                    <span class="badge bg-light text-dark fs-6 p-2">
                        <i class="bi bi-twitter me-1"></i>Twitter
                    </span>
                </a>
                <br>
                <a href="https://www.facebook.com" class="d-inline-block mb-3">
                    <span class="badge bg-light text-dark fs-6 p-2">
                        <i class="bi bi-facebook me-1"></i>Facebook
                    </span>
                </a>
                <br>
                <a href="https://www.instagram.com" class="d-inline-block mb-3">
                    <span class="badge bg-light text-dark fs-6 p-2">
                        <i class="bi bi-instagram me-1"></i>Instagram
                    </span>
                </a>
                <br>
            </div>
        </div>
    </div>
    <br><br><br>
    <br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        var swiper = new Swiper(".swiper-container", {
            spaceBetween: 30,
            effect: "fade",
            loop: true,
            autoplay: {
                delay: 3500,
                disableOnInteraction: false,
            }

        });
    </script>
    <script>
        var swiper = new Swiper(".swiper-testimonials", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
    </script>
    <script>
        let price = 0;
        let booking_form = document.getElementById("booking_form");
        booking_form.addEventListener("submit", function (e) {
            e.preventDefault();
            booking();
        })
        function booking() {
            let checkin = document.getElementById("checkin").value;
            let checkout = document.getElementById("checkout").value;
            if (checkin > checkout) {
                alert("Check-in and check-out is not allowed");
            }
            else {
                var date1 = new Date(checkin);
                var date2 = new Date(checkout);
                var differenceMs = date2.getTime() - date1.getTime();
                var days = Math.floor(differenceMs / (1000 * 60 * 60 * 24));
                if(days == 0){
                    days = 1;
                }
                price = price * days;
                let user_id = document.getElementById("user_id_confirm").value;
                let room_id = document.getElementById("room_id_confirm").value;
                let data = {
                    user_id: user_id,
                    room_id: room_id,
                    checkin: checkin.toString(),
                    checkout: checkout.toString(),
                    price:price
                }
                console.log(data);
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "http://localhost:8080/booking-room", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = function () {
                    let res = JSON.parse(this.responseText);
                    alert(res.mess);
                    window.location.href = "http://localhost:3000/rooms"
                }
                xhr.send(JSON.stringify(data));
            }

        }

        function get_room_feature_and_facilities_detail() {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');
            let data = {
                id: id
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/get-room-feature-and-facilities-detail", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                console.log(this.responseText)

                if (this.responseText == "") {
                    alert("No id specified");
                    window.location.href = "https://localhost:8080/Error.html";
                }
                else {

                    let res = JSON.parse(this.responseText);
                    price = parseFloat(res.room.price);
                    let listImages = res.listRoom_images;
                    document.getElementById("show-img-main").innerHTML = `
                    <img src="http://localhost:8080/getimage/${res.room_images.image}" class="img-fluid rounded mb-3">
                    <h5>${res.room.name}</h5>
                    <h6>$${res.room.price} per night</h6>
                    `;
                    document.getElementById("room_id_confirm").value = res.room.id;
                }
            }
            xhr.send(JSON.stringify(data));

        }

        let login_form = document.getElementById("login_form");
        login_form.addEventListener("submit", function (e) {
            e.preventDefault();
            login();
        });
        function login() {
            let email = document.getElementById("user_email").value;
            let password = document.getElementById("user_password").value;
            data = {
                id: "",
                name: "",
                email: email,
                image: "",
                phone: "",
                identification: "",
                dob: "",
                password: password,
                address: ""
            };
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/login", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                let res = JSON.parse(this.responseText);
                if (res.status == 1) {
                    document.cookie = "isUser=" + email + ";max-age=86400;path=/";
                    location.reload();
                }
                alert(res.mess);
            }
            xhr.send(JSON.stringify(data));
        }

        function checkCookie(cookieName) {
            var cookies = document.cookie.split(';'); // Get all cookies as an array

            // Loop through the cookies to find the desired one
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim(); // Remove leading/trailing whitespace

                // Check if the cookie starts with the desired name
                if (cookie.indexOf(cookieName + '=') === 0) {
                    return true; // Cookie exists
                }
            }

            return false; // Cookie does not exist
        }
        function check_login() {
            var cookieExists = checkCookie('isUser');
            document.getElementById("show-button").innerHTML = "";
            console.log(cookieExists);
            if (cookieExists) {
                document.getElementById("show-button").innerHTML += `
                    <button type="button" class="btn btn-outline-dark shadow-none " onclick="logout('isUser')">
                        Logout
                    </button>
                    `;
            }
            else {
                document.getElementById("show-button").innerHTML += `
                    <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                        Login
                    </button>
                    <button type="button" class="btn btn-outline-dark shadow-none " data-bs-toggle="modal"
                        data-bs-target="#registerModal">
                        Register
                    </button>
                    `;

            }
        }
        function logout(cookieName) {
            document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            location.reload();
        }
        let register_form = document.getElementById('register-form');

        register_form.addEventListener('submit', (e) => {
            e.preventDefault();
            register();
        });
        function register() {
            if (register_form.elements['pass'].value != register_form.elements['cpass'].value) {
                alert("Your password confirmation is incorrect");
            }
            else {
                let data = new FormData();
                data.append('name', register_form.elements['name'].value);
                data.append('email', register_form.elements['email'].value);
                data.append('phone', register_form.elements['phone'].value);
                data.append('profile', register_form.elements['profile'].files[0]);
                data.append('address', register_form.elements['address'].value);
                data.append('identification', register_form.elements['identification'].value);
                data.append('dob', register_form.elements['dob'].value);
                data.append('pass', register_form.elements['pass'].value);
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "http://localhost:8080/register", true);

                xhr.onload = function () {
                    let res = JSON.parse(this.responseText);

                    if (res.status == 1) {
                        alert(res.mess);
                        location.reload();
                    }
                    else {
                        alert(res.mess);
                    }
                }
                xhr.send(data);
            }
        }
        function getCookieValue(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length);
                }
            }

            return "";
        }
        function get_user_confirmed() {
            var email = getCookieValue("isUser");
            data = {
                email: email
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/get-user-by-gmail", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                let res = JSON.parse(this.responseText);
                console.log(res)
                document.getElementById("user_name").value = res.name;
                document.getElementById("user_phone").value = res.phone;
                document.getElementById("user_address").value = res.address;
                document.getElementById("user_id_confirm").value = res.id;
            }

            xhr.send(JSON.stringify(data));
        }

        window.onload = function () {
            get_user_confirmed();
            check_login();
            get_room_feature_and_facilities_detail();
        }
    </script>
</body>

</html>