<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Login panel</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../css/admin/common.css">

	<style>
		div.login-form {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 400px;
		}
	</style>
</head>



<body class="bg-light">

	<div class="login-form text-center rounded bg-white shadow overflow-hidden">
		<form id="login_forms" method="POST">
			<h4 class="bg-dark text-white py-3">ADMIN LOGIN PANEL</h4>
			<div class="p-4">
				<div class="mb-3">
					<input name="admin_name" id="admin_name" required type="text"
						class="form-control shadow-none text-center" placeholder="Admin Name">
				</div>
				<div class="mb-4">
					<input name="admin_pass" id="admin_pass" required type="password"
						class="form-control shadow-none text-center" placeholder="Password">
				</div>
				<button name="login" type="submit" class="btn text-white custom-bg shadow-none">LOGIN</button>
			</div>
		</form>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script>
		let login_forms = document.getElementById("login_forms");
		login_forms.addEventListener("submit", function (event) {
			event.preventDefault();
			login();
		})
		function login() {
			let username = document.getElementById("admin_name").value;
			let password = document.getElementById("admin_pass").value;
			const data = {
				admin_name: username,
				admin_pass: password
			};

			fetch('http://localhost:8080/admin/login', {
				method: 'POST',
				body: JSON.stringify(data),
				headers: { 'Content-Type': 'application/json' }
			})
				.then(response => response.json())
				.then(data => {
					if (data.status === 1) {
						document.cookie = "isAdmin=1;max-age=86400;path=/";	
						window.location.href = "http://localhost:3000/admin/dashboard";
					} 
					alert(data.message);
				})
				.catch(error => console.error(error));
		}

	</script>
</body>

</html>