<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Features & Facilities</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/admin/common.css">
    <!-- <link rel="stylesheet" href="css/common.css"> -->
</head>



<body class="bg-light">
    <div class="container-fluid bg-dark text-light p-3 d-flex align-items-center justify-content-between sticky-top">
        <h3 class="mb-0 h-font">
            N5 HOTEL
        </h3>
        <button onclick="logout('isAdmin')" class="btn btn-light btn-sm">LOG OUT</button>
    </div>

    <div class="col-lg-2 bg-dark border-top border-3 border-secondary" id="dashboard-menu">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid flex-lg-column align-items-lg-stretch">
                <h4 class="mt-4 text-light">ADMIN PANEL</h4>
                <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#adminDropdown" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column align-items-stretch mt-2" id="adminDropdown">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/booking">Booking</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/admin/rooms">Rooms</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/admin/features_facilities">Features & Facilities</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/admin/user-queries">User Queries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/carousel">Carousel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/settings">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid" id="main-content">
        <div class="row">
            <div class="col-lg-10 ms-auto p-4 overflow-hidden">
                <h3 class="mb-4">FEATURES & FACILITIES</h3>
                <!-- Carousel section -->

                <div class="card border-0 shadow mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="card-title m-0">Features</h5>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark shadow-none btn-sm" data-bs-toggle="modal"
                                data-bs-target="#features-s">
                                <i class="bi bi-plus-square"></i> Add
                            </button>
                        </div>


                        <div class="table-responsive-md" style="height:350px; overflow-y: scroll;">
                            <table class="table table-hover border">
                                <thead>
                                    <tr class="bg-dark text-light">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col" width="20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="features-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card border-0 shadow mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="card-title m-0">Facilities</h5>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark shadow-none btn-sm" data-bs-toggle="modal"
                                data-bs-target="#facility-s">
                                <i class="bi bi-plus-square"></i> Add
                            </button>
                        </div>


                        <div class="table-responsive-md" style="height:350px; overflow-y: scroll;">
                            <table class="table table-hover border">
                                <thead>
                                    <tr class="bg-dark text-light">
                                        <th scope="col">#</th>
                                        <th scope="col">Icon</th>
                                        <th scope="col">Name</th>
                                        <th scope="col" width="40%" >Description</th>
                                        <th scope="col" width="20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="facilities-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


    <!-- Features modal -->

    <div class="modal fade" id="features-s" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="feature_s_form" enctype='multipart/form-data'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Features</h5>

                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Name</label>
                            <input type="text" id="features_name" name="features_name" class="form-control shadow-none" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn text-secondary shadow-none"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn custom-bg text-white shadow-none">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Facility modal -->
    <div class="modal fade" id="facility-s" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="facility_s_form" enctype='multipart/form-data'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Facility</h5>

                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Name</label>
                            <input type="text" id="facility_name" name="facility_name" class="form-control shadow-none" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Icon</label>
                            <input type="file" id="facility_icon"name="facility_icon" accept=".svg" class="form-control shadow-none"
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea name="facility_desc" id="facility_desc" class="form-control shadow-none" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn text-secondary shadow-none"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn custom-bg text-white shadow-none" disabled
                            id="btn_add_icon">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
        let feature_s_form = document.getElementById('feature_s_form');
        let facility_s_form = document.getElementById('facility_s_form');


        feature_s_form.addEventListener('submit', function (e) {
            e.preventDefault();
            add_feature();
        });


        function add_feature() {
            let name= document.getElementById('features_name').value;
            let data= {
                id:"",name:name
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/admin/features_facilities/features", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                var myModal = document.getElementById('features-s');
                var modal = bootstrap.Modal.getInstance(myModal);
                modal.hide();
                alert('success');
                get_features();
            }
            xhr.send(JSON.stringify(data));
        }

// submit ko cos anh -> let xhr = new XMLHttpRequest();
            // xhr.open("GET", "http://localhost:8080/admin/features_facilities/features", true);
            // xhr.setRequestHeader("Content-Type", "application/json");


//co anh -> let data = new FormData();
// data.append('name', feature_s_form.elements['features_name'].value);
//             let xhr = new XMLHttpRequest();
//             xhr.open("POST", "http://localhost:8080/admin/features_facilities/features", true);

        function get_features() {

            let xhr = new XMLHttpRequest();
            xhr.open("GET", "http://localhost:8080/admin/features_facilities/features", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            document.getElementById("features-data").innerHTML = "";
            xhr.onload = function () {
                resultArray = JSON.parse(this.responseText);
                console.log(resultArray);
                for (var i = 0; i < resultArray.length; i++) {
                    var obj = resultArray[i];
                    var htmlString = `
                                        <tr>
                                            <td>${obj.id}</td>
                                            <td>${obj.name}</td>
                                            <td>
                                            <button type="button" onclick="rem_features(${obj.id})" class="btn btn-danger btn-sm shadow-none">
                                                        <i class="bi bi-trash"></i> Delete
                                            </button>
                                            </td>
                                        </tr>
                                    `;
                    document.getElementById("features-data").innerHTML += htmlString
                }
            }
            xhr.send();
        }

        function rem_features(val) {
            let data={
                id:val ,name:""
            };
            let xhr = new XMLHttpRequest();
            xhr.open("DELETE", "http://localhost:8080/admin/features_facilities/features", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                let res = JSON.parse(this.responseText);
                if(res.status == 1)
                {
                    get_features();
                }
                else{
                    alert(res.message);
                }
                
            }
            xhr.send(JSON.stringify(data));
        }



        facility_s_form.addEventListener('submit', function (e) {
            e.preventDefault();
            add_facility();
        });


        const fileInput = document.querySelector('input[type="file"]');
        fileInput.addEventListener('change', (event) => {
            let btn = document.getElementById("btn_add_icon");
            btn.setAttribute("disabled", true);
            const file = event.target.files[0];
            const fileSize = file.size; // lấy kích thước tệp
            const fileType = file.type; // lấy loại tệp

            // kiểm tra kích thước tệp
            if (fileSize > 1024 * 1024) {
                alert('Tệp quá lớn, vui lòng chọn một tệp nhỏ hơn 1MB');
                return;
            }
            else {
                btn.removeAttribute('disabled');
            }
        });

        function add_facility() {
            let data = new FormData();

            data.append('name', document.getElementById('facility_name').value);
            data.append('icon', document.getElementById('facility_icon').files[0]);
            data.append('description', document.getElementById('facility_desc').value);

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/admin/features_facilities/facility", true);
            xhr.onload = function () {
                var myModal = document.getElementById('facility-s');
                var modal = bootstrap.Modal.getInstance(myModal);
                modal.hide();
                alert('success');
                get_facility();
            }
            xhr.send(data);
        }

        function get_facility() {

            let xhr = new XMLHttpRequest();
            xhr.open("GET", "http://localhost:8080/admin/features_facilities/facility", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            document.getElementById("facilities-data").innerHTML = "";
            xhr.onload = function () {
                resultArray = JSON.parse(this.responseText);
                console.log(resultArray);
                for (var i = 0; i < resultArray.length; i++) {
                    var obj = resultArray[i];
                        var htmlString = `
                        <tr class='align-middle'>
                            <td>${obj.id}</td>
                            <td><img src='http://localhost:8080/getimage/${obj.icon}' width="60px"></td>
                            <td>${obj.name}</td>
                            <td>${obj.description}</td>
                            <td>
                                <button type="button" onclick="rem_facility(${obj.id})" class="btn btn-danger btn-sm shadow-none">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </td>

                        `;
                    document.getElementById("facilities-data").innerHTML += htmlString
                }
            }
            xhr.send('get_faclility');
        }

        

        function rem_facility(val) {
            let data={
                id:val ,icon:"",name:"",description:""
            };
            let xhr = new XMLHttpRequest();
            xhr.open("DELETE", "http://localhost:8080/admin/features_facilities/facility", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                get_facility();
            }
            xhr.send(JSON.stringify(data));
        }

        function logout(cookieName)
        {
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                window.location.href = "http://localhost:3000/admin";
        }
        window.onload = function () {
            get_features();
            get_facility();
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>